.ig-gain:before { content: $gain; }
.ig-old:before { content: $old; }
.ig-past:before { content: $past; }
.ig-destroy:before { content: $destroy; }
.ig-breathe:before { content: $breathe; }
.ig-live:before { content: $live; }
.ig-civilization:before { content: $civilization; }
.ig-defend:before { content: $defend; }
.ig-help:before { content: $help; }
.ig-pursue:before { content: $pursue; }
.ig-weak:before { content: $weak; }
.ig-avoid:before { content: $avoid; }
.ig-rebel:before { content: $rebel; }
.ig-separate:before { content: $separate; }
.ig-forget:before { content: $forget; }
.ig-create:before { content: $create; }
.ig-advance:before { content: $advance; }
.ig-distance:before { content: $distance; }
.ig-outside:before { content: $outside; }
.ig-path:before { content: $path; }
.ig-deteriorate:before { content: $deteriorate; }
.ig-courage:before { content: $courage; }
.ig-message:before { content: $message; }
.ig-again:before { content: $again; }
.ig-repeat:before { content: $repeat; }
.ig-want:before { content: $want; }
.ig-discover:before { content: $discover; }
.ig-self:before { content: $self; }
.ig-die:before { content: $die; }
.ig-stability:before { content: $stability; }
.ig-stay:before { content: $stay; }
.ig-safety:before { content: $safety; }
.ig-nature:before { content: $nature; }
.ig-conflict:before { content: $conflict; }
.ig-shapers:before { content: $shapers; }
.ig-attack:before { content: $attack; }
.ig-war:before { content: $war; }
.ig-chaos:before { content: $chaos; }
.ig-liberate:before { content: $liberate; }
.ig-see:before { content: $see; }
.ig-less:before { content: $less; }
.ig-now:before { content: $now; }
.ig-present:before { content: $present; }
.ig-not:before { content: $not; }
.ig-inside:before { content: $inside; }
.ig-answer:before { content: $answer; }
.ig-fear:before { content: $fear; }
.ig-hide:before { content: $hide; }
.ig-destiny:before { content: $destiny; }
.ig-simple:before { content: $simple; }
.ig-more:before { content: $more; }
.ig-equal:before { content: $equal; }
.ig-chance:before { content: $chance; }
.ig-difficult:before { content: $difficult; }
.ig-save:before { content: $save; }
.ig-evolution:before { content: $evolution; }
.ig-success:before { content: $success; }
.ig-question:before { content: $question; }
.ig-escape:before { content: $escape; }
.ig-complex:before { content: $complex; }
.ig-idea:before { content: $idea; }
.ig-thought:before { content: $thought; }
.ig-clear:before { content: $clear; }
.ig-retreat:before { content: $retreat; }
.ig-barrier:before { content: $barrier; }
.ig-data:before { content: $data; }
.ig-failure:before { content: $failure; }
.ig-follow:before { content: $follow; }
.ig-danger:before { content: $danger; }
.ig-lead:before { content: $lead; }
.ig-potential:before { content: $potential; }
.ig-contemplate:before { content: $contemplate; }
.ig-use:before { content: $use; }
.ig-search:before { content: $search; }
.ig-new:before { content: $new; }
.ig-easy:before { content: $easy; }
.ig-react:before { content: $react; }
.ig-have:before { content: $have; }
.ig-capture:before { content: $capture; }
.ig-journey:before { content: $journey; }
.ig-ignore:before { content: $ignore; }
.ig-lose:before { content: $lose; }
.ig-improve:before { content: $improve; }
.ig-future:before { content: $future; }
.ig-pure:before { content: $pure; }
.ig-impure:before { content: $impure; }
.ig-imperfect:before { content: $imperfect; }
.ig-lie:before { content: $lie; }
.ig-together:before { content: $together; }
.ig-resistance:before { content: $resistance; }
.ig-struggle:before { content: $struggle; }
.ig-harm:before { content: $harm; }
.ig-enlightened:before { content: $enlightened; }
.ig-balance:before { content: $balance; }
.ig-perfection:before { content: $perfection; }
.ig-human:before { content: $human; }
.ig-body:before { content: $body; }
.ig-open:before { content: $open; }
.ig-accept:before { content: $accept; }
.ig-nourish:before { content: $nourish; }
.ig-recharge:before { content: $recharge; }
.ig-repair:before { content: $repair; }
.ig-mind:before { content: $mind; }
.ig-soul:before { content: $soul; }
.ig-end:before { content: $end; }
.ig-all:before { content: $all; }
.ig-clear-all:before { content: $clear-all; }
.ig-open-all:before { content: $open-all; }
.ig-strong:before { content: $strong; }
.ig-xm:before { content: $xm; }
.ig-truth:before { content: $truth; }
.ig-portal:before { content: $portal; }
.ig-harmony:before { content: $harmony; }
.ig-peace:before { content: $peace; }
.ig-technology:before { content: $technology; }
.ig-intelligence:before { content: $intelligence; }
.ig-grow:before { content: $grow; }
.ig-unbounded:before { content: $unbounded; }
.ig-you:before { content: $you; }
.ig-other:before { content: $other; }
.ig-us:before { content: $us; }
.ig-them:before { content: $them; }
.ig-share:before { content: $share; }
.ig-worth:before { content: $worth; }
.ig-victory:before { content: $victory; }
.ig-presence:before { content: $presence; }
.ig-perspective:before { content: $perspective; }
.ig-mystery:before { content: $mystery; }
.ig-nzeer:before { content: $nzeer; }
.ig-interrupt:before { content: $interrupt; }
.ig-legacy:before { content: $legacy; }
.ig-live-again:before { content: $live-again; }
.ig-reincarnate:before { content: $reincarnate; }
.ig-restraint:before { content: $restraint; }
.ig-abandon:before { content: $abandon; }
.ig-knowledge:before { content: $knowledge; }
.ig-destination:before { content: $destination; }
.ig-star:before { content: $star; }
.ig-nemesis:before { content: $nemesis; }
.ig-field:before { content: $field; }
.ig-link:before { content: $link; }
.ig-key:before { content: $key; }
.ig-shield:before { content: $shield; }
.ig-toast:before { content: $toast; }
.ig-i:before { content: $i; }
.ig-me:before { content: $me; }
.ig-contract:before { content: $contract; }
.ig-reduce:before { content: $reduce; }
.ig-adapt:before { content: $adapt; }
.ig-before:before { content: $before; }
.ig-after:before { content: $after; }
.ig-begin:before { content: $begin; }
.ig-sustain:before { content: $sustain; }
.ig-call:before { content: $call; }
.ig-consequence:before { content: $consequence; }
.ig-enlightened-type-b:before { content: $enlightened-type-b; }
.ig-osiris:before { content: $osiris; }
.ig-resistance-type-b:before { content: $resistance-type-b; }
.ig-response:before { content: $response; }
.ig-sustain-all:before { content: $sustain-all; }
.ig-unknown-1:before { content: $unknown-1; }
.ig-unknown-2:before { content: $unknown-2; }
.ig-unknown-3:before { content: $unknown-3; }
.ig-unknown-4:before { content: $unknown-4; }
.ig-unknown-5:before { content: $unknown-5; }
.ig-unknown-6:before { content: $unknown-6; }
.ig-unknown-7:before { content: $unknown-7; }
.ig-unknown-8:before { content: $unknown-8; }
.ig-unknown-9:before { content: $unknown-9; }
.ig-unknown-10:before { content: $unknown-10; }
.ig-unknown-11:before { content: $unknown-11; }
.ig-unknown-12:before { content: $unknown-12; }
.ig-unknown-13:before { content: $unknown-13; }
.ig-unknown-14:before { content: $unknown-14; }
.ig-unknown-15:before { content: $unknown-15; }
.ig-unknown-16:before { content: $unknown-16; }
.ig-unknown-17:before { content: $unknown-17; }
.ig-unknown-18:before { content: $unknown-18; }
.ig-unknown-19:before { content: $unknown-19; }
.ig-unknown-20:before { content: $unknown-20; }