$ig-font-path: "../fonts" !default;

$gain :"\0021";
$old :"\0022";
$past :"\0023";
$destroy :"\0024";
$breathe :"\0025";
$live :"\0025";
$civilization :"\0026";
$defend :"\0027";
$help :"\0028";
$pursue :"\0029";
$weak :"\002A";
$avoid :"\002B";
$rebel :"\002C";
$separate :"\002D";
$forget :"\002E";
$create :"\002F";
$advance :"\0030";
$distance :"\0031";
$outside :"\0031";
$path :"\0032";
$deteriorate :"\0033";
$courage :"\0034";
$message :"\0035";
$again :"\0036";
$repeat :"\0036";
$want :"\0037";
$discover :"\0038";
$self :"\0039";
$die :"\003A";
$stability :"\003B";
$stay :"\003B";
$safety :"\003C";
$nature :"\003D";
$conflict :"\003E";
$shapers :"\003F";
$attack :"\0040";
$war :"\0040";
$chaos :"\0041";
$liberate :"\0042";
$see :"\0043";
$less :"\0044";
$now :"\0045";
$present :"\0045";
$not :"\0046";
$inside :"\0046";
$answer :"\0047";
$fear :"\0048";
$hide :"\0049";
$destiny :"\004A";
$simple :"\004B";
$more :"\004C";
$equal :"\004D";
$chance :"\004E";
$difficult :"\004F";
$save :"\0050";
$evolution :"\0051";
$success :"\0051";
$question :"\0052";
$escape :"\0053";
$complex :"\0054";
$idea :"\0055";
$thought :"\0055";
$clear :"\0056";
$retreat :"\0057";
$barrier :"\0058";
$data :"\0059";
$failure :"\005A";
$follow :"\005B";
$danger :"\005C";
$lead :"\005D";
$potential :"\005E";
$contemplate :"\005F";
$use :"\0060";
$search :"\0061";
$new :"\0062";
$easy :"\0063";
$react :"\0064";
$have :"\0065";
$capture :"\0066";
$journey :"\0067";
$ignore :"\0068";
$lose :"\0069";
$improve :"\006A";
$future :"\006B";
$pure :"\006C";
$impure :"\006D";
$imperfect :"\006E";
$lie :"\006F";
$together :"\0070";
$resistance :"\0071";
$struggle :"\0071";
$harm :"\0072";
$enlightened :"\0073";
$balance :"\0074";
$perfection :"\0074";
$human :"\0075";
$body :"\0076";
$open :"\0077";
$accept :"\0077";
$nourish :"\0078";
$recharge :"\0079";
$repair :"\0079";
$mind :"\007A";
$soul :"\007B";
$end :"\007C";
$all :"\007D";
$clear-all :"\007E";
$open-all :"\007F";
$strong :"\0080";
$xm :"\0081";
$truth :"\0082";
$portal :"\0083";
$harmony :"\0084";
$peace :"\0084";
$technology :"\0085";
$intelligence :"\0086";
$grow :"\0087";
$unbounded :"\0088";
$you :"\0089";
$other :"\0089";
$us :"\008A";
$them :"\008B";
$share :"\008C";
$worth :"\008D";
$victory :"\008E";
$presence :"\008F";
$perspective :"\0090";
$mystery :"\0091";
$nzeer :"\0092";
$interrupt :"\0093";
$legacy :"\0094";
$live-again :"\0095";
$reincarnate :"\0095";
$restraint :"\0096";
$abandon :"\0097";
$knowledge :"\0098";
$destination :"\0099";
$star :"\009A";
$nemesis :"\009B";
$field :"\009C";
$link :"\009D";
$key :"\009E";
$shield :"\009F";
$toast :"\00A0";
$i :"\00A1";
$me :"\00A1";
$contract :"\00A2";
$reduce :"\00A2";
$adapt :"\00A3";
$before :"\00A4";
$after :"\00A5";
$begin :"\00A6";
$sustain :"\00A7";
$call :"\00A8";
$consequence :"\00A9";
$enlightened-type-b :"\00AA";
$osiris :"\00AB";
$resistance-type-b :"\00AC";
$response :"\00AE";
$sustain-all :"\00AF";
$unknown-1 :"\00B0";
$unknown-2 :"\00B1";
$unknown-3 :"\00B2";
$unknown-4 :"\00B3";
$unknown-5 :"\00B4";
$unknown-6 :"\00B5";
$unknown-7 :"\00B6";
$unknown-8 :"\00B7";
$unknown-9 :"\00B8";
$unknown-10 :"\00B9";
$unknown-11 :"\00BA";
$unknown-12 :"\00BB";
$unknown-13 :"\00BC";
$unknown-14 :"\00BD";
$unknown-15 :"\00BE";
$unknown-16 :"\00BF";
$unknown-17 :"\00C0";
$unknown-18 :"\00C1";
$unknown-19 :"\00C2";
$unknown-20 :"\00C3";
